__pycache__
cnn_habitat_reaasoning/metadata/class_accuracies/
cnn_habitat_reaasoning/metadata/concat_images/
ablation_codes/keypoint_detection/sam_vit_h_4b8939.pth
plain_clip/bird_alignment_clip_vs_uni.pdf
cnn_habitat_reaasoning/irrelevant_same_diff_habitat.csv

allaboutbirds/
ablation_codes/scraping/old_searching/
ablation_codes/demo_image2text/__pycache__/
ablation_codes/demo_image2text/__init__.py
ablation_codes/demo_image2text/image2text/__pycache__
ablation_codes/demo_image2text/image2text/image_text_matching/__pycache__
*.zip
ablation_codes/ablation_codes/scraping/allaboutbirds_data/
ablation_codes/demo_image2text/templates/test.html
ablation_codes/demo_image2text/templates/home_answer.html
ablation_codes/test.py
ablation_codes/templates/test.py

ablation_codes/keypoint_detection/unsup-parts/unsup-parts/checkpoints/
ablation_codes/demo_image2text/image2text/

plain_clip/__pycache__
.vscode/
test_blip2.py
plain_clip/ImageNetV2_pytorch/
plain_clip/correct_inaturalist_replaced_id_figs/
plain_clip/incorrect_inaturalist_replaced_id_figs/
plain_clip/retrieval_cub_images_by_text/
plain_clip/retrieval_nabirds_images_by_text/
plain_clip/retrieval_inat21_images_by_text/
plain_clip/retrieval_cub_images_by_texts/
plain_clip/retrieval_nabirds_images_by_texts/
plain_clip/retrieval_inat21_images_by_texts/
plain_clip/test_bird.jpeg
plain_clip/cub_retrieval_acc.json
plain_clip/inat21_retrieval_acc.json
plain_clip/nabirds_retrieval_acc.json

ablation_codes/inpainting/Inpaint_Anything/

*.jpg
*.png

att_splits.mat
*.sh