visual_correspondence_XAI/datasets/
visual_correspondence_XAI/CHM-Corr/
visual_correspondence_XAI/EMD-Corr/
visual_correspondence_XAI/Human-Study/
visual_correspondence_XAI/kNN/
visual_correspondence_XAI/ResNet50/CUB_iNaturalist_17/__pycache__/
visual_correspondence_XAI/ResNet50/CUB_iNaturalist_17/*.pth
intel_dataset/
*.pth

__pycache__/